@tailwind base;
@tailwind components;
@tailwind utilities;

div#titlebar {
  -webkit-app-region: drag;
}

/* ----------------- SETTINGS && MAIN ----------------- */
#settings section::-webkit-scrollbar,
main::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
#settings section::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 2.5rem;
}
main::-webkit-scrollbar-track {
  background: transparent;
}
#settings section::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background: rgb(67 56 202);
}
#settings section::-webkit-scrollbar-thumb:hover,
main::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 125, 209);
}

/* ----------------- SIDEBAR ----------------- */

aside div#sidebar::-webkit-scrollbar {
  width: 0px;
}

/* ----------------- AniList ----------------- */
main#anilist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
main#anilist::-webkit-scrollbar-thumb {
  background: rgb(225 29 72);
  border-radius: 5px;
}
main#anilist::-webkit-scrollbar-track {
  margin-top: 26.5rem;
}
